// base defaults
params.input  = "link to dataset"

// defaults
params.outdir = "./"
params.max_cpus        = 2
params.max_memory      = 4.GB

process {
	// default
	machineType = 'n1-standard-1'
	disk        = '100 GB'
	// specific resources
	withName: [NAME OF STATISTICAL METHOD] {
		machineType = 'n1-standard-2'
	}
	withName: [NAME OF STATISTICAL METHOD] {
		machineType = 'n1-standard-2'
	}
}

profiles {
	gls {
	process.executor = 'google-lifesciences'
	workDir = 'gs://unipv-mbg-st-miszczyk-data/work'
	google.location = 'europe-west4'
	google.region  = 'europe-west4'
	google.project = 'mbg-bigdata-student-miszczyk'
	google.lifeSciences.bootDiskSize = '50 GB'
	}
}
